{% extends "master.html" %}
 {% block title %} 
    
    {% endblock %}

    Hello everyone 
    {% block content %}

<div class="container">
        <h1>Hello everyone!</h1>
        <p>Welcome to our new project we are about to begin.</p><br>
        <h3>Valancia and Melda</h3>
        <p>Please make sure you design this front page</p>
        
    </div>

    <br>
    <div class="container">
        <h1>Group Members</h1>
        <p>Wellcome</p>
        <p>Name  :  Mofokeng</p><br>
        <p>Name  :  Nkwe</p><br>
        <p>Name  :  Phacks</p><br>
        <p>Name  :  Valacial</p><br>
        <p>Name  :  Melda</p><br>
        <p>Name  :  Brain(Mhlengi)</p><br>
        
        
    </div>

{% endblock %}





